$black: #404040;
$grey: #A4A4A4;
$grey-light: #E5E5E5;
$grey-xlight: #F7F7F7;
$white: #FEFEFE;
$gold: #D7CCA7;
$gold-light: #E1DED6;


$serif: 'Playfair Display', serif;
$sans: 'Lato', sans serif;

$ft-light: 300;
$ft-normal: 400;
$ft-bold: 700;

$ft-xsmall: 1.2rem;
$ft-small: 1.4rem;
$ft-base: 1.6rem;
$ft-med: 1.8rem;
$ft-lg: 2rem;
$ft-xlg: 4rem;
$ft-xxlg: 9.6rem;

$z-min: 0;
$z-1: 10;
$z-2: 20;
$z-3: 30;
$z-max: 99;

html {
	font-size: 62.5%;
}

body {
	font-family: $sans;
	font-size: 16px;
	font-size: $ft-base;
	font-weight: $ft-normal;
	color: $black;
}

p {
	line-height: 2;
}

a {
	text-decoration: none;
}

h2, h3 {
	font-family: $serif;
	font-weight: $ft-normal;
	font-size: $ft-xlg;
	margin: 0;
	padding: 0;
}

.sectionTitle h2 {
	font-size: $ft-xxlg;
	color: $gold-light;
}


// ===========================
// HEADER
// ===========================

nav a {
	font-family: $serif;
	color: $grey;
	&:hover {
		color: $gold;
	}
}

.logoContainer {
	text-transform: uppercase;
	h1 {
		color: $black;
		font-size: $ft-base;
		font-weight: $ft-normal; 
		margin: 0;
		padding: 0;
	}
	p {
		color: $gold;
		font-size: $ft-small;
		font-weight: $ft-normal;
		margin: 0;
		padding: 0;
	}
}

// ===========================
// HERO SECTION
// ===========================

.homeText {
	text-transform: uppercase;

	h1 {
		font-size: $ft-xlg * 1.5;
		font-weight: $ft-normal;
		margin: 0;
		padding: 0;
	}

	p {
		font-size: $ft-lg;
		color: $gold;
		margin: 0;
		padding: 0;
	}
}


// ===========================
// PORTFOLIO SECTION
// ===========================

.portfolioText p a {
	text-decoration: underline;
	color: $black;
}

ul.portfolioSkills {
	color: $grey;
	text-transform: uppercase;

	li {
		font-size: $ft-small;
	}
}

.liveButton {
	font-family: $serif;
	font-size: $ft-med;
	color: $gold;
}